## Mengambil Data API Lewat Kaggle

In [1]:
import pandas as pd

In [2]:
!pip install kaggle

Requirement already satisfied: kaggle in c:\users\asani\anaconda3\envs\newpython\lib\site-packages (1.5.16)
Requirement already satisfied: six>=1.10 in c:\users\asani\anaconda3\envs\newpython\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi in c:\users\asani\anaconda3\envs\newpython\lib\site-packages (from kaggle) (2023.7.22)
Requirement already satisfied: python-dateutil in c:\users\asani\anaconda3\envs\newpython\lib\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in c:\users\asani\anaconda3\envs\newpython\lib\site-packages (from kaggle) (2.31.0)
Requirement already satisfied: tqdm in c:\users\asani\anaconda3\envs\newpython\lib\site-packages (from kaggle) (4.66.1)
Requirement already satisfied: python-slugify in c:\users\asani\anaconda3\envs\newpython\lib\site-packages (from kaggle) (8.0.1)
Requirement already satisfied: urllib3 in c:\users\asani\anaconda3\envs\newpython\lib\site-packages (from kaggle) (2.0.6)
Requirement already satisfied: bleach in c:\users\asani\anaconda3\envs\newpython\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: packaging in c:\users\asani\anaconda3\envs\newpython\lib\site-packages (from bleach->kaggle) (23.1)
Requirement already satisfied: webencodings in c:\users\asani\anaconda3\envs\newpython\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\asani\anaconda3\envs\newpython\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\asani\anaconda3\envs\newpython\lib\site-packages (from requests->kaggle) (3.3.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\asani\anaconda3\envs\newpython\lib\site-packages (from requests->kaggle) (3.4)
Requirement already satisfied: colorama in c:\users\asani\anaconda3\envs\newpython\lib\site-packages (from tqdm->kaggle) (0.4.6)

In [3]:
!kaggle datasets list -s "goal leagues"

ref                                                      title                                             size  lastUpdated          downloadCount  voteCount  usabilityRating
-------------------------------------------------------  -----------------------------------------------  -----  -------------------  -------------  ---------  ---------------
slehkyi/extended-football-stats-for-european-leagues-xg  Football Data: Expected Goals and Other Metrics    1MB  2020-08-02 17:28:39           6190        153  1.0
shreyanshkhandelwal/goal-dataset-top-5-european-leagues  Goal Dataset - Top 5 European Leagues            174KB  2021-05-23 21:20:09           4667         30  0.5294118
sanjeetsinghnaik/most-expensive-footballers-2021         Most Expensive Footballers 2021                   13KB  2021-12-03 20:28:03           2256         51  1.0
secareanualin/football-events                            Football Events                                   21MB  2017-01-25 01:19:19          27256        652  0.7647059
vivovinco/20212022-football-player-stats                 2021-2022 Football Player Stats                  627KB  2022-05-29 12:13:07           4726        116  1.0
vivovinco/20222023-football-player-stats                 2022-2023 Football Player Stats                  470KB  2023-02-12 17:01:33           3394         86  1.0
cuecacuela/england-football-matches                      England Football Matches                         391KB  2023-05-16 18:09:38            877         35  1.0
vivovinco/20212022-football-team-stats                   2021-2022 Football Team Stats                      6KB  2022-05-29 07:48:12           2184         72  1.0
mcarujo/european-football-season-202223                  European Football Season 2022/23                   1MB  2023-06-11 12:46:58            898         39  0.8235294
yamaerenay/most-popular-soccer-leagues                   Most Popular Soccer Leagues                       30KB  2020-08-01 16:59:30            216          6  1.0
oles04/bundesliga-seasons                                Football | Bundesliga Seasons 2005/06 - 2022/23  101KB  2023-05-27 18:48:13           1782         33  1.0
chaibapat/fantasy-premier-league                         Fantasy Premier League - 2016/2017               476MB  2017-05-16 18:56:26           1571         33  0.85294116
takidaki/70-football-leagues-data-2019-2023              70+ Football Leagues Dataset 2019-2023             6MB  2023-06-24 11:38:29            638         22  0.7647059
sanjeetsinghnaik/premier-league-matches-20142020         Premier League Matches 2014-2020                 227KB  2021-12-21 19:08:15            484         22  0.9117647
eladsil/football-games-odds                              Football Matches Odds                              5MB  2018-10-15 08:15:14           1020         30  0.8235294
evangower/premier-lacrosse-league-team-stats             Premier Lacrosse League Team Stats                 2KB  2023-05-20 21:04:28            254         24  1.0
sanjeetsinghnaik/la-liga-match-data                      La Liga Match Data                               226KB  2022-01-02 18:21:11            526         22  0.9117647
vivovinco/20222023-football-team-stats                   2022-2023 Football Team Stats                      6KB  2023-04-23 19:50:32            987         32  0.9411765
jashsheth5/indepth-soccer-statistics-xg-xa-and-more      In-depth soccer statistics: xG, xA and more        1MB  2020-09-26 05:36:58            424         11  0.9411765
cuecacuela/brazilian-football-matches                    Brazilian Football Matches                       278KB  2023-05-16 18:10:49            122         13  0.8235294

In [5]:
!kaggle datasets download shreyanshkhandelwal/goal-dataset-top-5-european-leagues

Downloading goal-dataset-top-5-european-leagues.zip to C:\Users\asani\ Materi Data Science

  0%|          | 0.00/174k [00:00<?, ?B/s]
100%|##########| 174k/174k [00:00<00:00, 425kB/s]
100%|##########| 174k/174k [00:00<00:00, 423kB/s]

In [20]:
pd.read_csv("Data/epl-goalScorer(20-21).csv", index_col='Unnamed: 0')

,id,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup
0,647,Harry Kane,35,3097,23,22.174859,14,7.577094,138,49,1,0,F,Tottenham,19,19.130183,24.995648,4.451257
1,1250,Mohamed Salah,37,3085,22,20.250847,5,6.528526,126,55,0,0,F M S,Liverpool,16,15.683834,28.968234,9.800236
2,1228,Bruno Fernandes,37,3117,18,16.019454,12,11.474996,121,95,6,0,M S,Manchester United,9,8.407840,26.911412,11.932285
3,453,Son Heung-Min,37,3139,17,11.023287,10,9.512992,68,75,0,0,F M S,Tottenham,16,10.262118,20.671916,6.608751
4,822,Patrick Bamford,38,3085,17,18.401863,7,3.782247,107,30,3,0,F S,Leeds,15,16.879525,23.394953,4.131796
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517,9415,Jaden Philogene-Bidace,1,1,0,0.000000,0,0.000000,0,0,0,0,S,Aston Villa,0,0.000000,0.056044,0.056044
518,9423,Gaetano Berardi,2,113,0,0.074761,0,0.000000,1,0,0,0,D S,Leeds,0,0.074761,0.231278,0.231278
519,9524,Anthony Elanga,1,67,0,0.000000,0,0.000000,0,0,0,0,M,Manchester United,0,0.000000,0.000000,0.000000
520,9540,Femi Seriki,1,1,0,0.000000,0,0.000000,0,0,0,0,S,Sheffield United,0,0.000000,0.000000,0.000000
521,9552,Tyrese Francois,1,13,0,0.000000,0,0.000000,0,0,0,0,S,Fulham,0,0.000000,0.000000,0.000000

## Mengambil Data API Lewat Portal Bandung

In [21]:
import requests
import json
import tqdm

In [23]:
ds_list_response = requests.get("http://data.bandung.go.id/api/3/action/package_list")
ds_list_result = json.load(ds_list_response.text)
len(ds_list_result['result']), ds_list_result

AttributeError: 'str' object has no attribute 'read'